*{
    padding: 0%;
    margin: 0%;
}
header{
    text-align: center;
    font-size: 30px;
}
body{
    background-color: white;    

}
img{
   
    width: 150px;
    height: 150px;
}

.img{
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 5px;
        
}

.texto{
    
    justify-content: center;
    font-size: 21px;
    padding: 1em 3em;
    color: black;
}
.aside-grid{
    display: grid;
    grid-template-columns: 65% 35%;
}
#contenedor{
    height: 1200px;
    width: 900px;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 1%;

}

#encabezado{
    background-color: #94A684;
    height: 10%;
}

#menu{
    height: 5%;
    background-color: #AEC3AE ;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
}

#contenido{
    background-color:#B0D9B1 ;
    height: 110%;
}

#fueraSeccion{
    background-color: #E4E4D0;
    text-align: center;
    height: 110%;
}

#fueraSeccion h2{
    margin-top: 1em;

}

#fueraSeccion p{
    justify-content: center;
    font-size: 21px;
    padding: 1em 3em;
    color: black;
}

#pie{
    text-align: center;
    height: 30px;
    background-color: #FFEEF4;
}