*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color:  #f1ecea;
    color: white;
}

.img{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

img{
    height: 100px;
    width: 100px;
    border: 1px solid ;
}

.grid-aside{
    display: grid;
    grid-template-columns: 64% 35%;

}
.texto{
    text-align: justify;
    justify-content: center;
    font-size: 20px;
    padding: 1em 3em;
    color: white;
}
#contenido{
    background-color: #362f2f;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#fueraSeccion p{
    margin-bottom: 6px;

}
#fueraSeccion{
    background-color:  #b58c7c;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    text-align: center;

}
#fueraSeccion article{
    margin-top: 1em;
}
#contenedor{
    height: 1000px;
    width: 900px;
    background-color: #362f2f ;
    border-radius: 5px;
    margin: 0 auto;
}

#encabezado{
    height: 15%;
    margin: 1%;
    background-color: #3a251c;
    display: flex;
    justify-content: center;
    align-items: center;
}


#menu{
    margin: 0 auto;
    height: 5%;
    background-color: #b46424 ;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#pie{
    text-align: center;
    height: 10%;
    background-color:  #3a251c;
}

ul{
    padding: 15px;
    font-size: 20px;
}

li{
    display: inline;
    padding: 15px;
    font-size: 20px
}

li a{
    text-decoration: none;
    list-style: none;
}
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;

}