*{
    padding: 0%;
    margin: 0%;
}

.texto{
    padding: 20px 5px;
}
.boton {
    margin: 13px 10px;
    font-family: arial;
    color: #14396A !important;
    font-size: 20px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 0px 0px 0px #BEE2F9;
    padding: 6px 20px;
    border: 2px solid #3866A3;
    background: #63B8EE;
    background: linear-gradient(to top, #63B8EE, #468CCF);
    border-radius: 3em;
    width: 30%;
    text-decoration: none;
  }